<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="blog/layout" th:with="title='关于 |',active='about'">
<header th:replace="blog/layout::headerFragment(${title},${active})"></header>
<body>
<div layout:fragment="content">
    <div class="content-wrap">
        <div id="content" class="content">
            <div id="posts" class="posts-expand">
                <div class="post-block page" style="opacity: 1; display: block;">
                    <header class="post-header" style="opacity: 1; display: block; transform: translateY(0px);">
                        <h1 class="post-title" itemprop="name headline">关于博主</h1>
                    </header>
                    <div class="post-body" style="opacity: 1; display: block; transform: translateY(0px);">
                        <h2>介绍</h2>
                        <blockquote>
                            <div>
                                ChongJing，博主，退学计算机研究生，现就职于成都某公司，从事JAVA开发工作， 励志成为一名优秀的的软件设计开发工程师。
                            </div>
                        </blockquote>
                        <h2>技能标签</h2>
                        <ul>
                            <li>
                                <h4>后端</h4>
                                <blockquote>
                                    <div>
                                        JAVA、PHP、Python
                                        <br>
                                        Spring、SpringMVC、SpringBoot、MyBatis
                                        <br>
                                        MySQL、Redis、JSP、Thymeleaf
                                        <br>
                                        Linux、Apache、Nginx
                                    </div>
                                </blockquote>
                            </li>
                            <li>
                                <h4>前端</h4>
                                <blockquote>
                                    <div>
                                        HTML、CSS、Javascript
                                        <br>
                                        Vue、Bootstrap
                                    </div>
                                </blockquote>
                            </li>
                        </ul>
                        <h2>个人爱好</h2>
                        <blockquote>
                            <div>
                                                           跑步、音乐、做饭、学习
                            </div>
                        </blockquote>
                        <h2>联系</h2>
                        <ul>
                            <li>QQ：2402103484</li>
                            <li>邮箱：2402103484@qq.com</li>
                            <th:block th:each="index : ${commons.social()}">
                                <th:block th:if="${index.value} != null and ${index.value} != ''">
                                    <th:block th:switch="${index.key}">
                                        <th:block th:case="'github'">
                                            <li>GitHub：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'jianshu'">
                                            <li>简书：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'zhihu'">
                                            <li>知乎：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'csdn'">
                                            <li>CSDN：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'resume'">
                                            <li>简历：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </th:block>
                            <li>博客园：<a href="https://www.cnblogs.com/Blue-chongjing/" target="_blank">https://www.cnblogs.com/Blue-chongjing/</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>